# 1 node Confluent Platform deployment
# For all configuration variables see: roles/confluent.variables/defaults/main.yml
all:
  vars:
    ansible_connection: ssh
    ansible_user: root
    ansible_become: true

    # Security - non-secure
    ssl_enabled: true
    ssl_mutual_auth_enabled: false
    sasl_protocol: none
    kafka_broker_principal: foobar
    health_checks_enabled: false
    rbac_enabled: true
    url_username: admin
    url_password: mds_admin
    mds_port: 8090
    mds_http_protocol: http
    mds_super_user: mds
    mds_super_user_password: mds_password
    schema_registry_ldap_user: schemaregistryUser
    schema_registry_ldap_password: schemaregistryUser
    kafka_connect_ldap_user: connectAdmin
    kafka_connect_ldap_password: connectAdmin
    ksql_ldap_user: ksqlDBAdmin
    ksql_ldap_password: ksqlDBAdmin
    kafka_rest_ldap_user: restproxyAdmin
    kafka_rest_ldap_password: restproxyAdmin
    control_center_ldap_user: controlcenterAdmin
    control_center_ldap_password: controlcenterAdmin

    confluent:
      # Disable metrics collection
      support:
        metrics_enabled: false

    # For debugging purposes, allow Zookeeper to respond to 4lw commands. Not recommended for production.
    zookeeper:
      properties:
        4lw.commands.whitelist: stat, ruok, conf, isro, cons, dump, crst, envi, srst, srvr, wchc, wchp, mntr

# Node configuration
zookeeper:
  hosts:
    cp01:

kafka_broker:
  vars:
    kafka_broker_custom_properties:
      ldap.java.naming.factory.initial: com.sun.jndi.ldap.LdapCtxFactory
      ldap.com.sun.jndi.ldap.read.timeout: 3000
      ldap.java.naming.provider.url: ldap://0.0.0.0:389
      ldap.java.naming.security.principal: cn=admin,dc=ps,dc=confluent,dc=io
      ldap.java.naming.security.credentials: admin
      ldap.java.naming.security.authentication: simple
      ldap.user.search.base: DC=ps,DC=confluent,DC=io
      ldap.group.search.base: DC=ps,DC=confluent,DC=io
      ldap.user.name.attribute: uid
      ldap.user.memberof.attribute.pattern: CN=(.*),DC=ps,DC=confluent,DC=io
      ldap.group.name.attribute: cn
      ldap.group.member.attribute.pattern: CN=(.*),DC=ps,DC=confluent,DC=io
      ldap.user.object.class: account


# Node configuration
zookeeper:
  hosts:
    cp01:
schema_registry:
  hosts:
    cp01:
control_center:
  hosts:
    cp01:
kafka_connect:
  hosts:
    cp01:
kafka_rest:
  hosts:
    cp01:
ksql:
  hosts:
    cp01:
